.video-player-container {
  padding: 8px 6px;
  margin-bottom: 40px;
}
.video-player {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.video-player video {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.video-details {
  padding: 10px auto;
}
.video-details .title {
  font-size: 24px;
  margin: 10px auto;
}
.video-details .description {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.channel-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
  margin-bottom: 10px;
}

.channel-details .channel-name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  padding: 8px 4px;
}
.channel-details .channel-name:hover {
  background-color: #cfcccc;
}
.channel-details .subscribe-btn {
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #da2d2d;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.channel-details .subscribe-btn-container {
  padding: 10px 8px;
  display: flex;
  margin-left: 10px;
  border-radius: 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.channel-details .subscribe-btn-container:hover {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #e1e1e1;
}

.channel-details .subscribe-btn-container:hover .subscribe-btn-container,
.channel-details .subscribe-btn-container:hover .subscribe-btn {
  background-color: #e1e1e1;
}

@media screen and (min-width: 500px) {
  .video-player-container {
    padding: 8px 18px;
  }
  .channel-details {
    justify-content: unset;
  }
}
